* {
    box-sizing:border-box;
}


html {

    scroll-behavior:smooth;

}


body {

    margin:0;

    background:black;

    color:white;

    font-family:"Bricolage Grotesque", sans-serif;

}


body.locked {

    overflow:hidden;

}



/* ======================
   INTRO SCREEN
====================== */


#intro {

    position:fixed;

    inset:0;

    z-index:100;

    display:flex;

    align-items:center;

    justify-content:center;

    transition:opacity 1s ease;

}



.intro-background {

    position:absolute;

    inset:0;

    background-image:url("photos/intro.jpg");

    background-size:cover;

    background-position:center;

}



.intro-overlay {

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.45);

}



.intro-content {

    position:relative;

    z-index:2;

    text
