* {

    box-sizing:border-box;

}


html {

    scroll-behavior:smooth;

}



body {

    margin:0;

    background:black;

    color:white;

    font-family:"Bricolage Grotesque", sans-serif;

}



body.locked {

    overflow:hidden;

}





/* INTRO */


#intro {

    position:fixed;

    inset:0;

    z-index:100;

    display:flex;

    align-items:center;

    justify-content:center;

    transition:opacity 1s ease;

}



.intro-background {

    position:absolute;

    inset:0;

    background:url("photos/intro.jpg");

    background-size:cover;

    background-position:center;

}



.intro-overlay {

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.45);

}



.intro-content {

    position:relative;

    z-index:2;

    text-align:center;

}



.intro-eyebrow {

    font-size:14px;

    letter-spacing:.20em;

    line-height:100%;

    text-transform:uppercase;

    margin-bottom:24px;

}



.intro-content h1 {

    margin:0;

    font-size:80px;

    line-height:110%;

    font-weight:400;

    letter-spacing:0;

}



#begin {

    margin-top:48px;

    padding:16px 45px;

    border-radius:50px;

    border:none;

    background:white;

    color:black;

    font-family:"Bricolage Grotesque", sans-serif;

    font-size:18px;

}





/* STORY */


#story {

    scroll-snap-type:y mandatory;

}



.scene {

    height:100vh;

    scroll-snap-align:start;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

}





.background {

    position:absolute;

    inset:0;

    background-size:cover;

    background-position:center;

    animation:zoom 18s infinite alternate;

}



@keyframes zoom {

from {

    transform:scale(1);

}

to {

    transform:scale(1.08);

}

}




.overlay {

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.45);

}





/* POEM */


.poem {

    position:relative;

    z-index:2;

    width:min(900px,85vw);

    text-align:center;

}



.poem-text {

    font-size:32px;

    line-height:120%;

    font-weight:400;

    letter-spacing:0;

}



.poem-line {

    margin:0;

    padding:0;

}





/* BUTTONS */


#reset {

    position:fixed;

    left:30px;

    bottom:30px;

    z-index:20;

    opacity:0;

    background:white;

    color:black;

    border:none;

    border-radius:50px;

    padding:12px 25px;

    font-family:"Bricolage Grotesque", sans-serif;

}



#reset.visible {

    opacity:.9;

}





.final-button {

    margin-top:48px;

    padding:16px 45px;

    border:none;

    border-radius:50px;

    background:white;

    color:black;

    font-family:"Bricolage Grotesque", sans-serif;

    font-size:18px;

}





.progress {

    position:fixed;

    right:30px;

    bottom:30px;

    opacity:0;

    z-index:20;

}





@media(max-width:768px){


    .intro-content h1 {

        font-size:48px;

    }



    .poem-text {

        font-size:26px;

        line-height:120%;

    }


}
